body {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/19/20/16/background-2420782_1280.png");
  background-size: cover;
  background-color: black;
  color: #67a6e0;
  text-shadow: 4px 4px 8px black;
  text-align: center;
  cursor: crosshair;
}

#gameboard{
  display: flex;
  justify-content: center;
}

td{
  width: 100px;
  height: 100px;
}

h1{
  animation: shake 10s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes shake{
  0% { transform: translate(1px, 1px) rotate(0deg);}
  10% { transform: translate(-4px, -1px) rotate(-1deg);}
  20% { transform: translate(-3px, 0px) rotate(1deg);}
  30% { transform: translate(-1px, -1px) rotate(-1deg);}
  40% { transform: translate(-6px, 0px) rotate(1deg);}
  50% { transform: translate(-3px, 0px) rotate(1deg);}
  60% { transform: translate(6px, 1px) rotate(0deg);}
  70% { transform: translate(-1px, -6px) rotate(-1deg);}
  80% { transform: translate(-3px, 0px) rotate(1deg);}
  90% { transform: translate(-1px, -1px) rotate(-1deg);}
  100% { transform: translate(-3px, 0px) rotate(1deg);}
}

td:hover{
  animation: shake 15s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.center{
  margin-left:auto;
  margin-right: auto;
}
